body{
    background-color: rgb(25, 0, 248);
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 20px;
}
header{
    background-color: rgb(238, 255, 0);
    color:#200418;
    text-align: center;
    padding: 15px;
    border: 8px;
}
section {
    background-color: rgb(255, 255, 255);
    padding: 15px;
   
}
 a {
    color: rgb(0, 0, 255);
    text-decoration: blackletter;
 }

 a:hover {
    text-decoration: underline;
 }